
venv/

# mounted dir
externals/output/
pipelines/tests/temp/*
raw_data/*
!raw_data/readme
results/*
!results/readme
references/*
!references/readme
logs/*
!logs/readme

# source code
*/__pycache__/
erna/*/__pycache__/
erna/*/*/__pycache__/
erna/*/migrations/
erna/rna_seq/*/migrations/
erna/*.sqlite3
pipelines/*/__pycache__/
pipelines/*/*/__pycache__/
rna_seq/models/constants/__pycache__/


# 
.ctab/
.ipynb_checkpoints/
_.*.log
erna/_.*.log