
venv/
externals/output/
pipelines/tests/temp/*
raw_data/*
!raw_data/readme
results/*
!results/readme
references/*
!references/readme
logs/*
!logs/readme


# 
*/__pycache__/
erna/db.sqlite3
erna/*/__pycache__/
erna/*/*/__pycache__/
erna/*/migrations/
erna/rna_seq/*/migrations/
erna/db.sqlite3
pipelines/*/__pycache__/
pipelines/*/*/__pycache__/
rna_seq/models/constants/__pycache__/


# 
.ctab/
.ipynb_checkpoints/
.err.log
_.err.log
_.out.log
Untitled.ipynb